---
title: IETF Codec WG Testing Results
description: 
published: true
date: 2022-12-05T22:00:11.620Z
tags: 
editor: markdown
dateCreated: 2022-12-05T22:00:11.620Z
---

# A Collection of Listening-Only Test Results

## Results from Symonics GmbH (July 2013)
 * [attachment:"opus listening tests experiment 1 and 2.pdf" Experiment 1 and 2: Can Opus replace AMR-WB in cellular networks?]

## Results from Universität Tübingen (September 2011)
 * [attachment:summary.pdf Slides]
 * [attachment:analysis.ods Raw data, summaries, and charts]

## Software for doing MUSHRA testing
 * [summary.pdf](/summary.pdf)
 * [analysis.ods](/analysis.ods)
 * [RateIt.Parse v0.1](/rateit.parser-v0.1.zip)
 * [opus_listening_tests_experiment_1_and_2.pdf](/opus_listening_tests_experiment_1_and_2.pdf)
