---
title: Formal Verification of Protocols
description: IETF protocols have benefited from the research community conducting formal verification of their security properties.  The IETF welcomes such analysis.
published: true
date: 2022-11-14T20:27:01.777Z
tags: 
editor: markdown
dateCreated: 2022-11-14T20:27:01.777Z
---

The following are past analyses:
* TLS's TLS 1.3 = TRON Workshop, https://www.ndss-symposium.org/ndss2016/tron-workshop-programme/
* LAKE's core protocol = https://arxiv.org/abs/2007.11427
* IPSECME's Multiple Key Exchange (draft-ietf-ipsecme-ikev2-multiple-ke) = https://dl.acm.org/doi/10.1145/3485832.3485885
* MLS's core protocol = https://eprint.iacr.org/2019/1189.pdf
* GNAP's core protocol = https://elib.uni-stuttgart.de/bitstream/11682/12220/1/Security_Analysis_GNAP.pdf